<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixi3.communitybackend.car.mapper.CarMapper">
    <select id="getCarByOwner" resultType="com.shixi3.communitybackend.car.entity.Car">
        select
            car_id,
            owner,
            licence,
            type
        from car
        where owner=#{owner};
    </select>

    <select id="getAllCar" resultType="com.shixi3.communitybackend.car.entity.Car">
        select
            car_id,
            owner,
            licence,
            type
        from car;
    </select>
</mapper>