<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.shixi3.communitybackend.house.mapper.HouseMapper">
    <select id="page" resultType="com.shixi3.communitybackend.house.vo.HouseVo">
        select house_id,owner_id,building_id,house_number,state,create_time,update_time,
               (select name from wx_user where wx_user.id = owner_id) owner_name,
                (select id_card from wx_user where wx_user.id = owner_id) owner_card,
               (select building_number from building where building.building_id = house.building_id) building_number
        from house
        <where>
            <if test="buildingId != null and buildingId !='' ">
                house.building_id = #{buildingId}
            </if>
        </where>
    </select>

    <select id="getHouseVoById" resultType="com.shixi3.communitybackend.house.vo.HouseVo">
        select house_id,owner_id,building_id,house_number,state,create_time,update_time,
        (select name from wx_user where wx_user.id = owner_id) owner_name,
        (select id_card from wx_user where wx_user.id = owner_id) owner_card,
        (select building_number from building where building.building_id = house.building_id) building_number
        from house
        where house.house_id = #{houseId}
    </select>

</mapper >