<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.shixi3.communitybackend.house.mapper.HouseMapper">
    <select id="page" resultType="com.shixi3.communitybackend.house.vo.HouseVo">
        select house_id,owner_id,h.building_id,house_number,state,h.create_time,h.update_time,name  owner_name,id_card  owner_card,
        building_number
        from house h
        left join wx_user w on w.id = h.owner_id and w.id = h.owner_id
        left join building b on b.building_id = h.building_id
         <where>
             <if test="buildingId != null and buildingId !='' ">
                 and h.building_id = #{buildingId}
             </if>
         </where>
    </select>

    <select id="getHouseVoById" resultType="com.shixi3.communitybackend.house.vo.HouseVo">
        select house_id,owner_id,h.building_id,house_number,state,h.create_time,h.update_time,name  owner_name,id_card  owner_card,
               building_number
        from house h
                 left join wx_user w on w.id = h.owner_id and w.id = h.owner_id
                 left join building b on b.building_id = h.building_id
        where h.house_id = #{houseId}
    </select>

</mapper >