<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixi3.communitybackend.examine.mapper.ParkingVetMapper">
    <select id="getParkingVetByStatus" resultType="com.shixi3.communitybackend.examine.vo.ParkingVetVo">
        SELECT pv.vet_id, pv.user_id, wx.name, pv.parking_id, pv.vet_status, pv.vet_reason, pv.create_time, pv.update_time, p.number as parking_number
        FROM parking_vet pv
                 JOIN wx_user wx ON pv.user_id = wx.id
                 JOIN parking p ON pv.parking_id = p.parking_id
        WHERE pv.vet_status = #{vetStatus}
        ORDER BY pv.vet_id;
    </select>

    <select id="getParkingVetByUser" resultType="com.shixi3.communitybackend.examine.vo.ParkingVetVo">
        SELECT pv.vet_id, pv.user_id, wx.name, pv.parking_id, pv.vet_status, pv.vet_reason, pv.create_time, pv.update_time, p.number as parking_number
        FROM parking_vet pv
                 JOIN wx_user wx ON pv.user_id = wx.id
                 JOIN parking p ON pv.parking_id = p.parking_id
        WHERE pv.user_id = #{userId}
        ORDER BY pv.vet_id;
    </select>
</mapper>