<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixi3.communitybackend.car.mapper.ParkingMapper">
    <select id="getAllParking" resultType="com.shixi3.communitybackend.car.Vo.ParkingVo">
        SELECT p.parking_id,p.number,p.owner,u.name
        FROM parking p
                 LEFT JOIN wx_user u ON p.owner = u.id
        order by parking_id;
    </select>
    <select id="getParkingById" resultType="com.shixi3.communitybackend.car.Vo.ParkingVo">
        SELECT p.parking_id, p.number, p.owner, u.name
        FROM parking p
                 LEFT JOIN wx_user u ON p.owner = u.id
        WHERE p.parking_id = #{parkingId}
        ORDER BY p.parking_id;
    </select>
    <select id="getParkingByNumber" resultType="com.shixi3.communitybackend.car.Vo.ParkingVo">
        SELECT p.parking_id, p.number, p.owner, u.name
        FROM parking p
                 LEFT JOIN wx_user u ON p.owner = u.id
        WHERE p.number = #{number}
        ORDER BY p.parking_id;
    </select>
</mapper>